@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

body {
    width: 100%;
    margin: 0;
    font-family: 'NotoSans', sans-serif;
    background-color: #0e0918;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
body * {
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;

}
h1{
    font-weight: 200;

}
main{
    display: flex;
    flex-direction: row;
    margin-top: 56px;
}
h2{
    font-size: 56px;
    line-height: 10px;
}
span{
    color: rgb(132,14,201);
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    height: 100px;
    width: 70%;
    margin-top: 140px;
    line-height:20px;
    max-width: 500px;
}
.art{   
    margin-left: 140px;
    align-items: flex-end;
}
img{
    width: 510px;
}
a{
    color: white
}
a:hover{
    transition: 0.3s all;
    color: rgb(132,14,201);
}
.login-btn{
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgb(132,14,201);
}
.login-btn:hover{
    color: white;
    background-color: rgb(132,14,201);
}
.btn-login{
    width: 50%;
    padding: 16px 0px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background: #0f8;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff80;
}