@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

body {
    width:100%;
    margin: 0;
    font-family: 'NotoSans', sans-serif ;
    background-color: #0e0918;
    color: white;
    max-width: 1200px;
    padding: 15px;
}
.title >h1{
    color: #514869;
    font-weight: 200;
    font-size: 34pt;
    font-weight: 800;
}
body * {
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;

}
a{
    color: white
}
a:hover{
    transition: 0.3s all;
    color: rgb(132,14,201);
}
.main-login{
    padding: 99px;
    width: 99vw;
    height: 130vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    font-size: 2vw;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1 {
    color: #ff9277d7;
}
.login-img{
    width: 30vw;
}
.right-login{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    margin: 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
    color:  #ff9277d7;
    font-weight: 800;
    margin: 0;
}
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: #f0ffff94;
}

.login-btn{
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgb(132,14,201);
}
.login-btn:hover{
    color: white;
    background-color: rgb(132,14,201);
}
a{
    color: white
}
a:hover{
    transition: 0.3s all;
    color: rgb(132,14,201);
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    line-height:30px;
    color: white;

}